<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICrmService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://212.156.40.34:8082/CrmService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICrmService"
                contract="ws.ICrmService" name="BasicHttpBinding_ICrmService" />
        </client>
    </system.serviceModel>
</configuration>